/* ADD FONT */

.tenDayCards,
.sevenHourCards {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 70px;
  overflow: auto;
}

.card {
  width: 100%;
  border: 5px solid white;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgba(104, 100, 151, 0.5);
}

.card h1 {
  font-size: 25px;
}

.card h3 {
  font-size: 20px;
  line-height: 1.5em;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
}

.fa-cloud,
.fa-snowflake, 
.fa-sun, 
.fa-cloud, 
.fa-umbrella, 
.fa-bolt, 
.fa-feather {
  font-size: 60px;
  margin: 10px;
}
