h3 {
  line-height: 1.5;
}

.current-weather {
  margin-top: 15px;
  margin-left: 60px;
  font-size: 20px;
  text-align: start;
}

.temperature {
  margin-right: 160px;
  font-size: 110px;
  text-align: end;
}

.city-name {
  text-align: center;
}