h3 {
  line-height: 1.5;
}

.current-weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 10% 0 10%;
  text-align: center;
  width: 80%;
}

.temperature {
  font-size: 110px;
  margin-bottom: -10px;
  text-align: end;
}

.city-name {
  font-size: 50px;
  letter-spacing: 3px;
  margin: -20px 0 0 -20px;
  text-align: center;
  width: 50%;
}

.daily-details {
  font-size: 16px;
  margin-top: -100px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
