* {
    margin: 0;
}

.fa-search {
  font-size: 25px;
  color: grey;
  margin: 15px 0 0 100px;
}

.search-field {
  font-size: 22px;
  margin: 12px 0 0 18px;
  border-radius: 30px;
  width: 280px;
  height: 25px;
  border: none;
  justify-content: center;
  outline: none;
  caret-color: transparent;
}

.search-bar-wrapper {
  display: flex;
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 50px;
  justify-content: top;
  width: 450px;
  margin: 20px;
}

.title {
  margin: 20px;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  border: 6px white solid;
  height: 140px;
  padding: 0 20px;
  border-radius: 80px;
  width: 420px;
}

.title-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}


