.drop-down-list {
  border-radius: 80px;
  color: white;
  height: 60px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: auto;
  width: 350px;
}

li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  margin-top: 5px;
}

li:hover {
  text-decoration: underline;
}
